@model AgenteIA.Models.ChatMessage

<li class="chat-entry">

    <div class="chat-row user fade-in">
        <div class="bubble user-bubble">
            @Model.UserInput
        </div>
        <img src="https://cdn.pixabay.com/photo/2014/03/25/16/32/user-297330_1280.png" class="avatar" />
    </div>

    <div class="chat-row bot fade-in">
        <img src="https://cdn.pixabay.com/photo/2024/03/05/13/13/robot-8614567_1280.png" class="avatar" />
        <div class="bubble bot-bubble">
            @Model.Response
        </div>
    </div>

</li>
